<html th:replace="~{layout :: layout(~{::title}, ~{::#breadcrumb}, ~{::section})}" lang="zh">
<head>
    <title>ETL | 主表配置</title>
</head>
<body>
<div id="breadcrumb">
    <ul class="breadcrumb">
        <li>
            <a href="#">主表配置</a>
        </li>
        <li class="active"> 我的面板 </li>
    </ul>
</div>
<section>
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading custom-tab dark-tab">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#ods" data-toggle="tab">ODS 采集</a>
                        </li>
                        <li class="">
                            <a href="#sp" data-toggle="tab">SP 计算</a>
                        </li>
                        <li class="">
                            <a href="#ds" data-toggle="tab">数据服务</a>
                        </li>
                        <li class="">
                            <a href="#cron" data-toggle="tab">计划任务</a>
                        </li>
                        <li class="">
                            <a href="#param" data-toggle="tab">参数管理</a>
                        </li>
                        <li class="">
                            <a href="#datasource" data-toggle="tab">数据源管理</a>
                        </li>
                        <li class="">
                            <a href="#apimgt" data-toggle="tab">接口管理</a>
                        </li>
                        <li class="">
                            <a href="#procedure" data-toggle="tab">存储过程</a>
                        </li>
                        <li class="">
                            <a href="#trino" data-toggle="tab">trino执行日志</a>
                        </li>
                    </ul>
                </header>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="ods">
                            ODS
                        </div>
                        <div class="tab-pane" id="sp">
                            SP
                        </div>
                        <div class="tab-pane" id="ds">
                            DS
                        </div>
                        <div class="tab-pane" id="cron">
                            CRON
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
</body>
</html>