<html th:replace="~{layout :: layout(~{::title}, ~{::#breadcrumb}, ~{::section})}" lang="zh">
<head>
    <title>ETL | Table</title>
</head>
<body>
<div id="breadcrumb">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li><a href="/conf/index" th:href="@{/conf/index}">主表配置</a></li>
        <li><a href="/impdb/list" th:href="@{/impdb/list}">数据源管理</a></li>
        <li class="active"> 数据源详情</li>
    </ul>
</div>
<section>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <form action="#" th:action="${editable} ? '/impdb/save' : '#'" th:object="${d}" method="POST"
                          class="form-horizontal adminex-form" role="form">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="form-group">
                            <div class="form-inline w-100">
                                <label class="col-sm-1 ">数据库名称</label>
                                <div class="col-sm-2">
                                    <input th:field="*{dbName}" id="dbname" class="form-control"
                                    />
                                </div>
                                <label class="col-sm-2 ">数据源链接串</label>
                                <div class="col-sm-4 w-100">
                                    <input th:field="*{dbConstr}" style="width:100%" id="constr" class="form-control"/>
                                </div>
                            </div>
                        </div>

                        <!-- 采集信息 begin -->
                        <div class="form-group">
                            <div class="form-inline">
                                <label class="col-sm-1 ">采集编号</label>
                                <div class="col-sm-2">
                                    <input th:field="*{dbIdEtl}" id="dbIdEtl" class="form-control"/>
                                </div>
                                <label class="col-sm-1 ">采集并发数</label>
                                <div class="col-sm-2">
                                    <input th:field="*{dbParalEtl}" id="dbParalEtl" class="form-control"
                                    />
                                </div>
                                <label class="col-sm-1 ">采集用户名</label>
                                <div class="col-sm-2">
                                    <input th:field="*{dbUserEtl}" id="dbUserEtl" class="form-control"
                                    />
                                </div>
                                <label class="col-sm-1 ">采集密码</label>
                                <div class="col-sm-2">
                                    <input th:field="*{dbPassEtl}" id="dbPassEtl" class="form-control"
                                    />
                                </div>
                            </div>
                        </div> <!-- 采集信息 end -->

                        <!-- 服务信息 begin -->
                        <div class="form-group">
                            <div class="form-inline">
                                <label class="col-sm-1 ">推送编号</label>
                                <div class="col-sm-2">
                                    <input th:field="*{dbIdDs}" id="dbIdDs" class="form-control"/>
                                </div>
                                <label class="col-sm-1 ">推送并发数</label>
                                <div class="col-sm-2">
                                    <input th:field="*{dbParalDs}" id="dbParalDs" class="form-control"
                                    />
                                </div>
                                <label class="col-sm-1 ">推送用户名</label>
                                <div class="col-sm-2">
                                    <input th:field="*{dbUserDs}" id="dbUserDs" class="form-control"
                                    />
                                </div>
                                <label class="col-sm-1 ">推送密码</label>
                                <div class="col-sm-2">
                                    <input th:field="*{dbPassDs}" id="dbPassDs" class="form-control"
                                    />
                                </div>
                            </div>
                        </div> <!-- 服务信息 end -->

                        <div class="form-group">
                            <label class="col-sm-1 ">启动类型</label>
                            <div class="col-sm-2">
                                <input th:field="*{dbStartType}" id="dbStartType" class="form-control"
                                />
                            </div>
                            <label class="col-sm-1 ">启动时间</label>
                            <div class="col-sm-4">
                                <input th:field="*{dbStart}" id="dbStart" class="form-control"
                                />
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="form-group">
                            <label class="col-sm-1 ">判断脚本</label>
                            <div class="col-sm-8">
                                    <textarea th:field="*{dbJudgeSql}" id="dbJudgeSql" class="form-control"
                                              rows="6"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 ">采集前置脚本</label>
                            <div class="col-sm-8">
                                    <textarea th:field="*{dbJudgePre}" id="dbJudgePre" class="form-control"
                                              rows="6"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 ">其他配置</label>
                            <div class="col-sm-8">
                                    <textarea th:field="*{conf}" id="conf" class="form-control"
                                              rows="6"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 ">备注信息</label>
                            <div class="col-sm-8">
                                    <textarea th:field="*{dbRemark}" id="dbRemark" class="form-control"
                                              rows="6"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" th:if="${editable}">Submit</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>
</body>
</html>