<html th:replace="~{layout :: layout(~{::title}, ~{::#breadcrumb}, ~{::section})}" lang="zh">
<head>
    <title>ETL | Table</title>
</head>
<body>
<div id="breadcrumb">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li><a href="/conf/index" th:href="@{/conf/index}">主表配置</a></li>
        <li class="active"> <a href="/impdb/list" th:href="@{/impdb/list}">数据源管理</a>  </li>
    </ul>
</div>
<section>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    采集数据源 <a class="btn btn-primary" href="/impdb/add" th:href="@{/impdb/add}">增加数据源</a>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table class="display table table-bordered table-striped" id="dynamic-table">
                            <thead>
                            <tr>
                                <th>数据库名称</th>
                                <th>采集编号</th>
                                <th>服务编号</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="d : ${impdbs}">
                                <td th:text="${d.dbName}"></td>
                                <td th:text="${d.dbIdEtl}"></td>
                                <td th:text="${d.dbIdDs}"></td>
                                <td><a th:href="@{/impdb/detail/{id}(id=${d.id})}" class="btn btn-xs btn-info">详情</a>
                                <a th:href="@{/impdb/edit/{id}(id=${d.id})}" class="btn btn-xs btn-warning">编辑</a>
                                <a href="#" class="btn btn-xs btn-info">使用场景</a>
                                <a href="#" class="btn btn-xs btn-info">探索源库</a>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- initial table -->
    <script>
        $(document).ready( function () {
            $('#dynamic-table').DataTable();
        } );
    </script>
</section>
</body>
</html>