<html th:replace="~{layout :: layout(~{::title}, ~{::#breadcrumb}, ~{::section})}" lang="zh">
<head>
    <title>ETL | Table</title>
</head>
<body>
<div id="breadcrumb">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li><a href="/conf/index" th:href="@{/conf/index}">主表配置</a></li>
        <li class="active"> <a href="/dict/list" th:href="@{/dict/list}">参数管理</a>  </li>
    </ul>
</div>
<section>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    参数管理
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <div class="clearfix">
                            <div class="btn-group">
                                <a href="#" th:href="@{/dict/add}" class="btn btn-xs btn-primary">新增参数 <i class="fa fa-plus"></i></a>
                            </div>
                            <div class="btn-group pull-right">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#">Print</a></li>
                                    <li><a href="#">Save as PDF</a></li>
                                    <li><a href="#">Export to Excel</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="space15"></div>
                        <table class="display table table-bordered table-striped" id="table-dict">
                            <thead>
                            <tr>
                                <th>参数值</th>
                                <th>参数名称</th>
                                <th>参数分类</th>
                                <th class="w-25">参数说明</th>
                                <th>编辑</th>
                                <th>删除</th>
                                <th>详情</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="d : ${dicts}">
                                <td th:text="${d.dictCode}"></td>
                                <td th:text="${d.dictName}"></td>
                                <td th:text="${d.dictClass}"></td>
                                <td th:text="${d.remark}"></td>
                                <td><a href="#"  th:href="@{/dict/edit/{id}(id = ${d.dictCode})}" class="btn btn-xs btn-warning">编辑</a></td>
                                <td><a href="#" th:href="@{/dict/delete/{id}(id = ${d.dictCode})}" class="btn btn-xs btn-danger">删除</a></td>
                                <td><a href="#" th:href="@{/dictionary/list/{id}(id = ${d.dictCode})}" class="btn btn-xs btn-info">详情</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- new modal window -->

    <!-- initial table -->
    <script>
        $(document).ready( function () {
            // EditableTable.init(4);
            // $('#editable-sample').DataTable();

            new DataTable('#table-dict', {
                columnDefs: [{ width: 100, targets: 3 }],
                fixedColumns: true,
                paging: true
            });
        });
    </script>
</section>
</body>
</html>