<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::#breadcrumb}, ~{::section})}" lang="zh">
<head>
  <title>Auto ETL Management</title>
</head>

<body class="sticky-header">
<div id="breadcrumb">
    <ul class="breadcrumb">
        <li>
            <a href="#">仪表盘</a>
        </li>
        <li class="active"> 我的面板 </li>
    </ul>
</div>
<section>
    <div class="row">
        <div class="col-sm-8">
            <section class="panel">
                <header class="panel-heading">
                    Pie Chart
                </header>
                <div class="panel-body">
                        <div id="last5tdtaketimes" style="height:700px"></div>
                </div>
            </section>
        </div>
    </div>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
<!--    <div id="last5tdtaketimes"></div>-->

    <script type="text/javascript" th:inline="javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('last5tdtaketimes'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '近期采集耗时'
            },
            tooltip: {},
            legend: {
                data: [[${xAxisData}]]
            },
            xAxis: {
                type: "category",
                data: [[${fids}]]
            },
            yAxis: {
                type: "value"
            },
            series: [[${last5LtdTaketimes}]]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</section>
</body>
</html>
