<ul class="nav nav-pills nav-stacked custom-nav">
    <li class="menu-list"><a href="index.html"><i class="fa fa-home"></i> <span>指示板</span></a>
        <ul class="sub-menu-list">
            <li><a href="/dashboard/index" th:href="@{/dashboard/index}"> 指示板 1</a></li>
            <li><a href="index.html"> 指示板 2</a></li>
        </ul>
    </li>
    <li class="active"><a href="/etl/index" th:href="@{/etl/index}"><i class="fa fa-table"></i><span>采集监控</span></a>
    </li>
    <li class="menu-list"><a href="/conf/index" th:href="@{/conf/index}"><i
            class="fa fa-table"></i><span>主表配置</span></a>
        <ul class="sub-menu-list">
            <li><a href="#ods">ODS 采集</a></li>
            <li><a href="#sp">SP 计算</a></li>
            <li><a href="#ds">数据服务</a></li>
            <li><a href="#cron">计划任务</a></li>
            <li><a href="/dict/list">参数管理</a></li>
            <li><a href="/impdb/list" th:href="@{/impdb/list}">数据源管理</a></li>
            <li><a href="#apimgt">接口管理</a></li>
            <li><a href="#procedure">存储过程</a></li>
            <li><a href="#trino">trino执行日志</a></li>
        </ul>
    </li>
</ul>